<div class="card effect-click {{if card.isFlipped 'flipped'}} {{card.animation}}" {{action "flipped" card}}>
  <div class="card-front">
  </div>
  <div class="card-back">
    <img src="/images/{{card.back}}" />
  </div>
</div>
