<div class="section-content">
  {{#each model as |card|}}
    <div class="card effect-click {{if card.isFlipped 'flipped'}}" {{action "flip" card}}>
      <div class="card-front">
      </div>
      <div class="card-back">
        <img src="/images/{{card.back}}" />
      </div>
    </div>
  {{/each}}
</div>
